#
# Nimbus
# Terraform
# Lint Secrets Pipeline
#

name: "Lint Secrets"
on: push
jobs:
  lint-secrets:
    name: "Lint Secrets with GitLeaks"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: "0"
      - name: Flag Secrets
        uses: DariuszPorowski/github-action-gitleaks@v2
        with:
          config: .gitleaks.toml
